@charset "UTF-8";
/* CSS Document */

a{
	text-decoration: none;
}
img{
	width: 100%;
}

div{
	line-height: 1;
}

.loading{
	position: fixed;
	background-color: #fff;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: 1000;
	font-size: 5vw;
	font-weight: bold;
}

.loading p{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	font-family: 'Lato', sans-serif;
}


.page{
	font-family: 'Lato', sans-serif;
	overflow: hidden;
}

.ja{
	font-family: 'Noto Sans JP', sans-serif;
}




																			/*ヘッダー*/
.header{
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	z-index: 999;
	transition: all.5s ease;
	padding-top: 50px;
}

.logo{
	font-size: 3.6rem;
	margin-left: 4%;
	font-weight: bold;
}

.logo a{
	color:#222;
}

.aqua{
	color: #096fc8;
}

.gnavi{
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 1;
	width: 720px;
	margin-right: 3%;
	font-size: 1.7rem;
	font-weight:bold;
	
}

.gnavi li{
	position: relative;
	text-align: center;
	letter-spacing: .2px;
}

.gnavi a{
	color: #111;
}

.gnavi li:hover a{
	color: #096fc8;
}

.header-contact{
	padding: 1em 2em;
	background-color:  #096fc8;; 
	border-radius:50px;
	border: 1px solid #096fc8;
	transition: all .3s ease;
}

.header-contact a{
	color: #fff;
}

.header-contact:hover{
	background-color: #fff;
}

.header-contact:hover a{
	color: #096fc8;
}

.res-menu{
	display: none;
}

.res-menulist{
	display: none;
	
}

.header.active{
	padding-top: 0;
	background-color: #fff;
	height: 80px;
	line-height: 80px;
}




																	/*ファーストビュー*/

.fv{
	position: relative;
	width: 100%;
	
}

.fv-bg{
	position: absolute;
	content: "";
	background-color: #096fc8;
	width: 30%;
	height: 35%;
	left: 0;
	bottom: 0;
	z-index: -2;
}

.mainphoto{
	position: relative;
	margin: 0 0 0 auto;
	width: 78%;
	border-radius: 0 0 0 140px;
	height: 100vh;
}

.mainphoto img{
	border-radius: 0 0 0 140px;
	height: 100vh;
	object-fit: cover;
}

.mainphoto::before{
	position: absolute;
	content: "";
	background-color: #fff;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: .2;
	border-radius: 0 0 0 60px;
}

.fv-textbox{
	position: absolute;
	left: 9%;
	font-size: 4rem;
	color: #333;
	top: 55%;
	transform: translateY(-50%);
	font-weight: bold;
	z-index: 2;
}

.fv-text{
	background-color: rgba(255,255,255,.9);
	letter-spacing: .6em;
	border-radius: 10px;
	padding: .6em .2em .6em 0;
}

.fv-text2{
	display: inline-block;
	margin-top: 10px;
}

.fv-sentence{
	margin-top: 50px;
	letter-spacing: .3em;
	font-size: 1.8rem;
	line-height: 2;
}

.fv-counceling{
	display: block;
	width: 330px;
	height: 65px;
	line-height: 65px;
	background-color: rgba(9,111,200,1.00);
	text-align: center;
	color: #fff;
	font-size: 1.4rem;
	border-radius: 35px;
	letter-spacing: 3px;
	margin-top: 70px;
	box-shadow: 0px 0px 30px rgba(9,111,200,.5);
	transition: all .3s ease;
	border: 1px solid #096fc8;
}

.fv-counceling:hover{
	background-color: #fff;
	color: #096fc8;
}

.fixed-menu{
	position: fixed;
	right: -100px;
	bottom: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 280px;
	z-index: 99;
	transition: all .5s ease;
}

.fixed-nav{
	position: relative;
	width: 80px; 
	height: 80px;
	line-height: 80px;
	border-radius: 50%;
	text-align: center;
	background-color:#096fc8;
	color: #FFF;
	font-size: 2rem;
	z-index: 99;
	transition: all .5s ease;
}

.pamphlet-fixed,
.counseling-fixed{
	background-color: #f45415;
	line-height: 70px;
}


.fixed-nav a{
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	border-radius: 50%;
	transition: all .5s ease;
}

.fixed-nav:hover a{
	background-color: #fff;
	color: #f45415;
	border: 2px solid #f45415;
}

.fixedmenu-text{
	position: absolute;
	left: 0;
	right: 0;
	bottom: -13px;
	font-size: 1.1rem;
	font-weight: bold;
}

.scroll-top{
	border: 1px solid rgba(255,255,255,.4);
}

.scroll-top:hover{
	background-color: #fff;
	color: #096fc8;
	border: 2px solid #096fc8;
}


.more{
	position: relative;
	display: block;
	height: 70px;
	line-height: 70px;
	border-radius: 35px;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 1.3rem;
	transition: all .5s ease;
	box-shadow: 0px 0px 20px rgba(0,0,0,.2);
}

.more::after{
	position: absolute;
	content: "\f054";
	right: 8%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.2rem;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

.more:hover{
	background-color: #fff;
	color:#096fc8;
	border: 1px solid #096fc8;
}




																			/*課題解決*/
.solution{
	position: relative;
	width: 100%;
	margin-top: 160px;
}

.solution-bg{
	position: absolute;
	content: "";
	background-color: #096fc8;
	width: 100%;
	height: 48%;
	bottom: 0;
}

.solution-title{
	position: relative;
	text-align: center;
	font-size: 5.4rem;
	color: #333;
	font-weight: bold;
	letter-spacing: 1px;
}

.solution-title::after{
	position: absolute;
	content: "課題解決";
	left: 0;
	right: 0;
	bottom: -25px;
	margin: auto;
	font-size: 1.6rem;
	color: #096fc8;
}

.solution-photo{
	position: relative;
	height: 700px;
	width: 78%;
	max-width: 1600px;
	margin: 60px auto 0 0;
	border-radius: 0 70px 0 0;
}

.solution-photobox{
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 0 70px 0 0;
	height: 100%;
	
}

.solution-photobox img{
	border-radius: 0 70px 0 0;
	height: 100%;
	object-fit: cover;
}

.solution-photo1,
.solution-photo2,
.solution-photo3{
	display: none;
}

.solution-bg{
	position: absolute;
	content: "";
	background-color: #096fc8;
	width: 100%;
	height: 60%;
	bottom: 0;
}

.solution-textmainbox{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 40px;
	z-index: 10;
	width: 85%;
	max-width: 1600px;
	display: flex;
	justify-content: space-between;
}

.solution-textbox{
	position: relative;
	display: block;
	padding-top: 60px;
	padding-bottom: 120px;;
	background-color: #fff;
	text-align: center;
	width:30%;
	border-radius: 30px;
	transition: all .3s ease;
	box-shadow: 0px 20px 30px rgba(0,0,0,.2);
}

.solution-textbox:hover{
	background-color: #096fc8;
	color: #fff;
}

.solution-textbox:hover .solution-text-title,
.solution-textbox:hover .solution-sentence{
	color: #fff;
}

.solution-textbox:hover .solution-arrow{
	background-color: #fff;
	color: #096fc8;
}

.solution-text-title{
	font-size: 3rem;
	font-weight: bold;
	color: #222;
}

.solution-sentence{
	width: 90%;
	font-size: 1.7rem;
	margin: 25px auto 0;
	line-height: 1.8;
	letter-spacing: 2px;
	color: #444;
}

.solution-arrow{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 40px;
	margin: auto;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	background-color: #096fc8;
	color: #fff;
	font-weight: bold;
	font-size: 1.6rem;
}


																			/*事業内容*/



.service{
	margin-top: 180px;
	min-width: 1024px;
}

.res-servicenphoto{
	display: none;
}

.service-container{
	position: relative;
	width: 92%;
	margin: 0 0 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.service-text{
	width: 40%;
	margin-right: 40px;
	margin-top: 40px;
}

.service-title{
	position: relative;
	font-size:5.4rem;
	font-weight: bold;
	letter-spacing: 2px;
	color: #333;
}

.service-title::after{
	position: absolute;
	content: "事業内容";
	color:#096fc8;
	font-size: 1.6rem;
	top: -30px;
	left: 2px;;
}

.service-subtitle{
	margin-top: 40px;
	font-size: 3.2rem;
	letter-spacing: 2px;
	color: #222;
	line-height: 1.6;
	font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";
}

.service-sentence{
	margin-top: 30px;
	font-size: 1.7rem;
	line-height: 2.2;
	letter-spacing: 3px;
	color: #555;
	width: 90%;
}

.service-more{
	background-color: #096fc8;
	color: #fff;
	width: 280px;
	margin-top: 60px;
}

.service-photo{
	width: 70%;
}

.service-photo img{
	border-radius: 40px 0 0 40px;
	box-shadow: 10px 10px 50px rgba(0,0,0,.2);
}


																		/*サービスの流れ*/



.flow{
	position: relative;
	margin-top: 160px;
	padding-top: 80px;;
	padding-bottom: 80px;
	background-color: #096fc8;;
}

.flow-container{
	position: relative;
	width: 75%;
	margin: 80px auto 0;
}

.flow-title{
	position: relative;
	font-size: 5.6rem;
	letter-spacing: 2px;
	font-weight: bold;
	text-align: center;
	color: #fff;
}

.flow-title::before{
	position: absolute;
	content: "サービスの流れ";
	bottom:  -30px;
	font-size: 1.6rem;
	letter-spacing: 1px;
	left: 0;
	right: 0;
	margin: auto;	
}

.flow-mainbox{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin:50px auto 0;
	max-width: 1600px;
	width: 100%;
}

.flow-box{
	width: 31%;
	text-align: center;
	background-color: #fff;
	border-radius: 20px;
	padding-top: 50px;
	padding-bottom: 30px;
	box-shadow: 0px 10px 40px rgba(0,0,0,.2);
}

.flow-bottom{
	margin-top: 40px;
}

.flow-step{
	font-size: 2.2rem;
	color: #999;
	font-weight: bold;
}

.flow-box i{
	font-size: 8rem;
	color: #096fc8;
	margin-top: 30px;
}

.flow-text{
	width: 70%;
	margin: 30px auto 0;
}

.flow-text-title{
	font-size: 2rem;
	font-weight: bold;
	color: #333;
}

.flow-sentence{
	font-size: 1.5rem;
	text-align: left;
	color: #333;
	line-height: 1.8;
	margin-top: 20px;
}

.flow-more{
	width: 320px;
	font-size: 1.4rem;
	margin: 80px auto 0;
	z-index: 2;
	background-color:#f1f1f1;
	color: #096fc8;
	box-shadow: 0px 0px 20px rgba(255,255,255,.1);
}

.flow-more:hover{
	background-color: #096FC8;
	color: #fff;
	border: 1px solid #fff;
}


																			/*ニュース*/


.news{
	position: relative;
	padding-top: 120px;
}

.news-container{
	margin:0 auto;
	width: 100%;
}

.news-title{
	display: block;
	position: relative;
	font-size: 5.4rem;
	letter-spacing: 1px;
	font-weight: bold;
	margin-left: 6%;
	color: #333;
}

.news-title::before{
	position: absolute;
	content: "お知らせ";
	left: 0;
	bottom: -30px;
	color: #096fc8;
	letter-spacing: .1em;
	font-size: 1.8rem;
}

.news-mainbox{
	display: flex;
	justify-content: space-between;
	margin:90px auto 0;
	width: 110%;
	margin-left: 6%;
}

.newsbox{
	position: relative;
	margin-right: 40px;
}

.newsbox img{
	border-radius: 15px;
	box-shadow: 20px 10px 20px rgba(0,0,0,.1);
}

.newstext-title{
	margin-top: 30px;
	font-size: 1.8rem;
	line-height: 1.4;
	color: #111;
	font-weight: bold;
}

.news-date{
	margin-top: 30px;
	color: #666;
	font-size: 1.5rem;
	letter-spacing: 1px;
	padding-bottom: 1.2em;
	border-bottom: 1px solid #666;
}

.news-more,
.gallery-more{
	width: 320px;
	background-color:#096fc8;
	color: #fff;
	font-size: 1.4rem;
	margin: 80px auto 0;
}

.news-more:hover,
.gallery-more:hover{
	border: 2px solid #096fc8;
	color: #096fc8;
	background-color: #fff;
}


								
																			/*実績紹介*/



.gallery{
	margin-top: 160px;
	width: 100%;
}

.gallery-title{
	position: relative;
	font-size: 5.4rem;
	text-align: center;
	color: #333;
	font-weight: bold;
	letter-spacing: 2px;
}

.gallery-title::before{
	position: absolute;
	content: "実績紹介";
	bottom: -35px;
	font-size: 1.8rem;
	color: #096fc8;
	left: 0;
	right: 0;
	margin: auto;
}

.gallery-container{
	display: flex;
	width: 100%;
	margin: 80px auto 0;
}

.gallery-top{
	display: flex;
}

.gallery-bottom{
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	
}

.gallery-right{
	flex-grow: 2;
}


.gallery-box{
	position: relative;
	overflow: hidden;
	transition: all .8s ease;
	border-radius: 10px;
	flex-grow: 1;
}

.gallery-box img{
	border-radius: 10px;
}


.gallery-link{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}

.gallery-box img{
	height: 100%;
	transition: all .8s ease;
	
}

.gallery-box:hover img{
	transform:scale(1.1);
}

.gallery-text{
	position: absolute;
	left: 1em;
	top: 1em;
	padding: 1.2em;
	background-color:rgba(9,111,200,1);
	color: #fff;
	border-radius: 15px;
	font-size: 1.6rem;
}


.gallery-box2,
.gallery-box3,
.gallery-box4,
.gallery-box5{
	margin-left: 10px;
}

.gallery-more{
	margin: 80px auto 0;
}




																		/*コンタクト*/


.contact{
	position: relative;
	margin-top: 140px;
}

.contact-container{
	width: 100%;
	display: flex;
	justify-content: space-between;
	
}

.contact-box:nth-of-type(1){
	border-right: 1px solid rgba(9,111,200,.5);
}

.contact-box{
	position: relative;
	width: 50%;
	padding-top: 100px;
	padding-bottom: 100px;
	border-top: 1px solid rgba(9,111,200,.5);
	transition: all .5s ease;
}

.contact-box:hover{
	background: #096fc8;
}

.contact-box:hover .contact-title,
.contact-box:hover .contact-sub-title,
.contact-box:hover .contact-sentence,
.contact-box:hover .contact-arrow{
	color: #f7f7f7;
}

.contact-box a{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.contact-title{
	font-size: 1.8rem;
	color: #096fc8;
	margin-left: 15%;
	font-weight: bold;
}

.contact-sub-title{
	font-size: 2.6rem;
	letter-spacing: 2px;
	margin-top: 30px;
	margin-left: 15%;
	color: #222;
}

.contact-sentence{
	margin-top: 30px;
	margin-left: 15%;
	width: 65%;
	font-size: 1.6rem;
	color: #666;
	line-height: 2;
	letter-spacing: 2px;
}

.contact-arrow{
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translateY(-50%);
	color: #096fc8;
	font-size: 2rem;
}

.futter{
	display: block;
	background-color:#096fc8;
	color: #fff;
	padding-top: 60px;
	padding-bottom: 5px;
}

.futter-container{
	width: 88%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.futter-logo{
	font-size: 3.4rem;
}

.futter-nav{
	display: flex;
	width: 600px;
	justify-content: space-between;
	line-height: 0;
	margin-right: 5%;
}

.futter-nav a{
	color: #fff;
	font-size: 1.4rem;
}

.copy-right{
	margin-top: 40px;
	text-align: center;
	font-size: 1.2rem;
}



														
																	/*レスポンシブ1024px*/



@media (max-width:1024px){
	
	.header{
		position: fixed;
		height: 80px;
		line-height: 80px;
		background-color:rgba(255,255,255,1);
		z-index: 99;
		padding-top: 0;
	}

	.logo{
		font-size: 3.2rem;
		margin-left: 6%;
	}

	.gnavi{
		display: none;
	}
	
	.res-menu{
		position: relative;
		display: inline-block;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		cursor: pointer;
		margin-right: 10px;
		background-color: #096fc8;
		transition: all .5s ease;
		z-index: 999;
	}	

	.res-menu div{
		position: absolute;
		top: 50%;
		width: 40%;
		height: 2px;
		background-color:#fff;
		border-radius: 5px;
		left: 0;
		right: 0;
		margin: auto;
		transition: all .5s ease;
	}	

	.res-menu div:nth-of-type(1){
		transform: translateY(-7px);
	}
	
	.res-menu div:nth-of-type(2){
		width: 30%;
		left: -5%;
	}
	
	.res-menu div:nth-of-type(3){
		width: 20%;
		left: -10%;
		transform: translateY(7px);
	}

	.res-menu.active div:nth-of-type(1){
		width: 40%;
		left: 0;
		transform: rotate(45deg);
	}

	.res-menu.active div:nth-of-type(2){
		opacity: 0;
	}
	
	.res-menu.active div:nth-of-type(3){
		width: 40%;
		transform: rotate(-45deg);
		left: 0;
	}
	
	.res-menulist{
		display: block;
		position: fixed;
		right: -100vw;
		top: 80px;
		width: 100%;
		height: 100vh;
		background-color:#096fc8;
		color: #fff;
		z-index: 100;
		transition: all .8s ease;
		opacity: 0;
		visibility: hidden;
		overflow-y: scroll;

	}
	
	.res-menulist.active{
		opacity: 1;
		visibility: visible;
		right: -45vw;
		transition: all .5s ease;
	}
	
	.res-menulist-container{
		width: 80%;
		margin: 20px auto 0;
	}
	
	.res-listmainbox{
		text-align: center;
	}
	
	.res-listbox{
		position: relative;
		display:block;
		width: 100px;
		height: 60px;
		line-height: 60px;
		font-size: 2.6rem;
		letter-spacing: 1px;
		text-align: left;
		margin-top: 5px;
	}
	
	.res-listbox::before{
		position: absolute;
		bottom: -30px;
		text-align: left;
		color: #fff;
		font-size: 1.3rem;
		width: 150%;
	}
	
	.res-listbox a{
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		color: #fff;
	}
	
	.res-listbox::after{
		position: absolute;
		background-color: #fff;
		content: "";
		width: 0;
		height: 2px;
		top: 50%;
		left: 0;
		transition: all .5s ease;
	}
	
	.res-listbox:hover::after{
		width: 100%;
	}
	
	.res-homebox::before{
		content: "ホーム";
	}
	
	.res-solutionbox::before{
		content: "課題解決";
	}
	
	.res-servicebox::before{
		content: "事業内容";
	}
	
	.res-flowbox::before{
		content: "サービスの流れ";
	}
	
	.res-gallerybox::before{
		content: "実績紹介";
	}
	
	.res-recruitbox::before{
		content: "採用情報";
	}

	.res-menulist-bottom{
		display: block;
		margin-top: 40px;
	}
	
	.res-menulist-bottom div{
		position: relative;
		height: 55px;
		width: 35%;
		margin-top: 15px;
		line-height: 0;
	}
		
	.res-menulist-bottom a{
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		z-index: 1;	
	}
	
	.res-menulist-bottom i{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 20px;
		color: #fff;
		font-size: 1.3rem;
	}
	
	.res-menulist-bottom div::before{
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		transition: all .5s ease;
		background-color: rgba(244,84,21,0.9);
		border-radius: 10px;
	}
	
	.res-menulist-bottom div:hover::before{
		background-color: rgba(244,84,21,0.6);
	}

	.res-menulist-bottom div::after{
		position: absolute;
		color: #fff;
		top: 50%;
		left: 50%;
		transform: translate(-50%);
		font-size: 1.2rem;
	}

	.res-contactmenu::after{
		content: "お問い合わせ";
	}
	
	.res-counselingmenu::after{
		content: "無料相談";
	}
	
	.res-pamphletmenu::after{
		content: "資料請求";
	}
	
	.header-contact{
		display: none;
	}

	.header-contact::before{
		display: none;
	}

	
																		/*ファーストビュー*/
	
	.fv{
		margin-top: 80px;
	}
	
	.fv-textbox{
		left: 5%;
		font-size: 5vw;
		color: #333;
		top: auto;
		bottom: 10%;
		transform: translateY(0);
		font-weight: bold;
	}

	.fv-text{
		background-color: rgba(255,255,255,.9);
		letter-spacing: .4em;
		border-radius: 10px;
	}

	.fv-text2{
		margin-top: 10px;
	}

	.mainphoto{
		width: 85%;
		border-radius: 0 0 0 120px;
		height: 75vh

	}

	.mainphoto img{
		border-radius: 0 0 0 120px;
		height: 75vh;
	}

	.fv-sentence,
	.fv-counceling{
		display: none;
	}

	.fixed-menu{
		right: 10px;;
		bottom: 10px;
		height: 250px;
	}

	.fixed-nav{
		width: 70px; 
		height: 70px;
		line-height: 65px;
		font-size: 1.7rem;
	}

	.pamphlet-fixed,
	.counseling-fixed{
		line-height: 55px;
	}

	.fixed-nav:hover a{
		border: 1px solid #f45415;
	}

	.fixedmenu-text{
		bottom: -9px;
		font-size: 0.8rem;
		font-weight: 100;

	}

	.scroll-top:hover{
		border: 1px solid #096fc8;
	}
	
	.more{
		height: 60px;
		line-height: 60px;
		border-radius: 30px;
		font-size: 1.3rem;
		margin: 40px auto 0;
	}
	
	
	
																		/*課題解決*/

	
	
	.solution{
		margin-top: 100px;
	}

	.solution-bg{
		position: absolute;
		content: "";
		background-color: #096fc8;
		width: 100%;
		height: 48%;
		bottom: 0;
	}

	.solution-title{
		font-size: 4.4rem;
		letter-spacing: 1px;
	}

	.solution-title::after{
		content: "課題解決";
		bottom: -25px;
		font-size: 1.5rem;
	}

	.solution-photo{
		height: auto;
		width: 95%;
		margin: 60px auto 0 0;
	}

	.solution-photobox{
		position: static;
		height: auto;
	}

	.solution-photobox img{
		height: auto;
	}

	.solution-bg{
		height: 70%;
		bottom: 20px;
	}
	
	.solution-textmainbox{
		position: relative;
		top: -80px;
		bottom: auto;
		width: 85%;
		flex-wrap: wrap;
	}

	.solution-textbox{
		padding-top: 50px;
		padding-bottom: 40px;
		width:100%;
	}

	.solution-text-box2,
	.solution-text-box3{
		margin-top: 20px;
	}
	
	.solution-text-title{
		font-size: 3rem;
		color: #222;
	}

	.solution-sentence{
		font-size: 1.5rem;
		margin:15px auto 0;
	}

	.solution-arrow{
		left:auto;
		right: 5%;
		bottom: auto;
		top: 50%;
		transform: translateY(-50%);
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 1.6rem;
	}



																		/*サービス*/


	.service{
		margin-top: 40px;
		min-width: inherit;
	}

	.service-container{
		position: relative;
		width: 100%;
		margin: 0 auto;
	}

	.service-text{
		width: 90%;
		margin: 40px auto 0;
	}

	.service-title{
		font-size:4.8rem;
		letter-spacing: 2px;
		text-align: center;
	}

	.service-title::after{
		font-size: 1.5rem;
		top: auto;
		bottom: -20px;
		left: 0;;
		right: 0;
		margin: auto;
	}

	.res-servicenphoto{
		display: block;
		margin-top: 50px;
		border-radius: 30px;
	}
	
	.res-servicenphoto img{
		border-radius: 30px;
	}

	.service-subtitle{
		margin-top: 50px;
		font-size: 2.8rem;
		letter-spacing: 2px;
		color: #222;
		line-height: 1.8;
		font-weight: bold;
		font-family: 'Noto Sans JP', sans-serif;
		text-align: center;
	}
	
	.service-sentence{
		font-size: 1.6rem;
		line-height: 2.2;
		letter-spacing: 1px;
		color: #333;
		width: 90%;
		margin: 20px auto 0;
		text-align: center;
	}

	.service-more{
		background-color: #096fc8;
		color: #fff;
		width: 280px;
		margin-top: 50px;
	}

	.service-photo{
		display: none;
	}



																			/*サービスの流れ*/

	

	.flow{
		margin-top: 100px;
		padding-top: 60px;;
		padding-bottom: 60px;
	}

	.flow-container{
		width: 88%;
		margin: 40px auto 0;
	}

	.flow-title{
		font-size: 5rem;
		letter-spacing: 2px;
	}

	.flow-title::before{
		bottom:  -20px;
		font-size: 1.5rem;
	}

	.flow-mainbox{
		flex-wrap: wrap;
		margin:50px auto 0;
	}

	.flow-box{
		width: 49%;
		padding-top: 40px;
		padding-bottom: 30px;
		margin-top: 20px;
	}

	.flow-bottom{
		margin-top: 20px;
	}

	.flow-step{
		font-size: 1.8rem;
	}

	.flow-box i{
		font-size: 6rem;
		margin-top: 30px;
	}

	.flow-text{
		width: 70%;
		margin: 30px auto 0;
	}

	.flow-text-title{
		font-size: 1.8rem;
	}

	.flow-sentence{
		font-size: 1.5rem;
		line-height: 1.8;
		margin-top: 15px;
	}

	.flow-more{
		width: 280px;
		font-size: 1.4rem;
		margin: 60px auto 0;
		z-index: 2;
		background-color:#f1f1f1;
		color: #096fc8;
	}

	.flow-more:hover{
		background-color: #096FC8;
		color: #fff;
		border: 1px solid #fff;
	}




																			/*ニュース*/	

	.news{
		padding-top: 100px;
	}
	
	.news-title{
		font-size: 5rem;
		text-align: center;
		margin-left: 0;
	}
	
	.news-title::before{
		top:auto;
		bottom: -22px;
		left: 0;
		right: 0;
		margin: auto;
		font-size: 1.5rem;
	}

	.news-mainbox{
		margin: 70px auto 0;
		width: 120%;
		margin-left: 6%;
	}

	.newsbox{
		margin-right: 30px;
	}

	.newstext-title{
		margin-top: 20px;
		font-size: 1.5rem;
	}

	.news-date{
		margin-top: 25px;
		font-size: 1.3rem;
		padding-bottom: 1.4em;
	}

	.news-more,
	.gallery-more{
		width: 280px;
		margin: 60px auto 0;
	}

	
	
																	/*実績紹介*/
	

	.gallery{
		margin-top: 100px;
	}

	.gallery-title{
		position: relative;
		font-size: 4.6rem;
	}

	.gallery-title::before{
		font-size: 1.5rem;
		bottom: -22px;
	}

	.gallery-container{
		width:100% ;
		display: block;
		margin: 60px auto 0;
	}

	.gallery-top{
		justify-content: space-between;
	}
	
	.gallery-bottom{
		justify-content: space-between;
		margin-top: 0;
	}

	.gallery-box{
		margin-top: 0px;
		line-height: 0;
	}
	
	.gallery-box1,
	.gallery-box1 img{
		border-radius: 50px 50px 0 0;
	}

	.gallery-box4,
	.gallery-box4 img{
		border-radius: 0 0 0 50px;
	}
	
	.gallery-box5,
	.gallery-box5 img{
		border-radius: 0 0 50px 0;
	}
	
	.gallery-box2,
	.gallery-box3{
		border-radius: 0;
	}
	
	.gallery-box2 img,
	.gallery-box3 img{
		border-radius: 0;
	}

	.gallery-text{
		font-size: 1.2rem;
		line-height: 1.4;
		left: 1.2em;
	}

	.gallery-box2,
	.gallery-box3,
	.gallery-box4,
	.gallery-box5{
		width:50%;
		object-fit: cover;
		margin-left: 0px;
		margin-top: 0;
	}

	.gallery-more{
		margin-top: 40px;
	}



																		/*コンタクト*/
	

	
	.contact{
		margin-top: 60px;
	}

	.contact-container{
		display: block;
	}

	.contact-box:nth-of-type(1){
		border-right: none;
	}

	.contact-box{
		width: 100%;
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.contact-title{
		font-size: 1.6rem;
		margin-left: 5%;
	}

	.contact-sub-title{
		font-size: 2.4rem;
		letter-spacing: 1px;
		margin-top: 	15px;
		margin-left: 5%;
	}

	.contact-sentence{
		margin-top: 15px;
		width: 70%;
		margin-left: 5%;
		font-size: 1.4rem;
		letter-spacing: 1px;
	}

	.contact-arrow{
		right: 12%;
		font-size: 1.4rem;
	}


	
	
																		/*フッター*/
	
	
	
	.futter{
		display: block;
		padding-top: 40px;
		padding-bottom: 10px;
	}
	
	.futter-container{
		widows: 88%;
		display: block;
	}

	.futter-logo{
		font-size: 4rem;
		letter-spacing: 0;;
	}

	.futter-nav{
		flex-direction: column;
		margin-left: 0px;
		margin-top: 10px;
	}

	.futter-nav li{
		display: block;
		margin-top: 25px;
		line-height: 1;
	}
	
	.futter-nav a{
		position: static;
		font-size: 1.6rem;
	}

	.copy-right{
		margin-top: 30px;
		text-align: center;
		font-size: 1.1rem;
	}
	
}





																		/*レスポンシブ480px*/



@media(max-width:480px){
	
	.header{
		height: 60px;
		line-height: 60px;
	}
	
	.logo{
		font-size: 2.6rem;
	}
	
	.res-menu{
		width: 40px;
		height: 40px;
		margin-right: 15px;

	}	

	.res-menu div{
		height: 1px;
	}	

	.res-menu div:nth-of-type(1){
		transform: translateY(-5px);
	}
	
	.res-menu div:nth-of-type(3){
		transform: translateY(5px);
	}

	.res-menulist{
		top: 60px;
	}
	
	.res-menulist-container{
		margin: 15px auto 0;
	}
	
	.res-listbox{
		width: 100px;
		height: 45px;
		line-height: 45px;
		font-size: 1.9rem;
		margin-top: 0px;
	}
	
	.res-listbox::before{
		bottom: -18px;
		font-size: 1rem;
	}
	
	.res-listbox::after{
		height: 1px;
	}
	
	.res-menulist-bottom{
		margin-top: 25px;
	}
	
	.res-menulist-bottom div{
		height: 45px;
		width: 50%;
		margin-top: 10px;
	}
		
	.res-menulist-bottom i{
		right: 20px;
		font-size: 1rem;
	}
	
	.res-menulist-bottom div::after{
		font-size: 1.1rem;
	}

		
	
																			/*ファーストビュー*/
	
	
	.fv{
		margin-top: 60px;
	}
	
	.fv-textbox{
		font-size: 6.5vw;
		bottom: 15%;
	}

	.mainphoto{
		width: 90%;
		border-radius: 0 0 0 100px;
		height: 80vh;
	}

	.mainphoto img{
		border-radius: 0 0 0 100px;
		height: 80vh;
	}

	.fixed-menu{
		height: 120px;
	}

	.fixed-nav{
		width: 60px; 
		height: 60px;
		line-height: 58px;
		font-size: 1.8rem;
	}

	.pamphlet-fixed{
		display: none;
	}
	
	.counseling-fixed{
		line-height: 47px;
	}

	.fixedmenu-text{
		bottom: -6px;
		font-size: 0.7rem;
		font-weight: 100;
	}

	.more{
		height: 55px;
		line-height: 55px;
		border-radius: 30px;
		font-size: 1.2rem;
		margin: 40px auto 0;
	}
	
	
																			/*課題解決*/


	
	.solution{
		margin-top: 80px;
	}

	.solution-title{
		font-size: 3.2rem;
	}

	.solution-title::after{
		bottom: -18px;
		font-size: 1.1rem;
	}

	.solution-photo{
		margin: 40px auto 0 0;
	}

	.solution-bg{
		height: 70%;
		bottom: 20px;
	}

	.solution-textmainbox{
		top: -60px;
	}

	.solution-textbox{
		padding-top: 30px;
		padding-bottom: 20px;
	}

	.solution-text-box2,
	.solution-text-box3{
		margin-top: 10px;
	}
	
	.solution-text-title{
		font-size: 2.2rem;
	}

	.solution-sentence{
		font-size: 1.2rem;
		margin:10px auto 0;
	}

	.solution-arrow{
		width: 25px;
		height: 25px;
		line-height: 25px;
		font-size: 1.3rem;
	}

	


																		/*事業内容*/

	
	
	.service{
		margin-top: 40px;
	}

	.service-text{
		margin: 0 auto ;
	}

	.service-title{
		font-size:3.4rem;
		letter-spacing: 1px;
	}

	.service-title::after{
		font-size: 1.1rem;
		bottom: -17px;
	}

	.res-servicenphoto{
		margin-top: 40px;
	}
	
	.service-subtitle{
		margin-top: 20px;
		font-size: 2rem;
		letter-spacing: 1px;
		line-height: 1.6;
	}
	
	.service-sentence{
		font-size: 1.4rem;
		line-height: 2;
		margin: 15px auto 0;
	}

	.service-more{
		width: 100%;
		margin-top: 30px;
	}


	
																		/*サービスの流れ*/



	.flow{
		margin-top: 80px;
		padding-top: 40px;;
		padding-bottom: 40px;
	}

	.flow-container{
		margin: 20px auto 0;
	}

	.flow-title{
		font-size: 3.4rem;
		letter-spacing: 1px;
	}

	.flow-title::before{
		bottom:  -16px;
		font-size: 1.1rem;
	}

	.flow-mainbox{
		flex-wrap: wrap;
		margin:30px auto 0;
	}

	.flow-box{
		width: 49%;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-top: 15px;
	}

	.flow-bottom{
		margin-top: 10px;
	}

	.flow-step{
		font-size: 1.5rem;
	}

	.flow-box i{
		font-size: 4rem;
		margin-top: 10px;
	}

	.flow-text{
		margin: 15px auto 0;
	}

	.flow-text-title{
		font-size: 1.4rem;
		color: #444;		
	}

	.flow-sentence{
		display: none;
	}

	.flow-more{
		width: 100%;
		margin: 40px auto 0;
	}


	
																				/*ニュース*/
	

	
	.news{
		padding-top: 60px;
	}

	.news-title{
		font-size: 3.4rem;
	}
	
	.news-title::before{
		bottom: -15px;
		font-size: 1.1rem;
	}

	.news-mainbox{
		margin: 50px auto 0;
		width: 160%;
		margin-left: 6%;
	}

	.newsbox{
		margin-right: 20px;
	}

	.newstext-title{
		margin-top: 10px;
		font-size: 1.3rem;
	}

	.news-date{
		margin-top: 15px;
		font-size: 1.2rem;
		padding-bottom: 1em;
	}

	.news-more,
	.gallery-more{
		width: 90%;
		margin: 40px auto 0;
	}

	
	
																		/*実績紹介*/
	
	

	.gallery{
		margin-top: 80px;
	}

	.gallery-title{
		font-size: 3.2rem;
	}

	.gallery-title::before{
		font-size: 1.1rem;
		bottom: -20px;
	}

	.gallery-container{
		margin: 50px auto 0;
	}
	
	.gallery-box1,
	.gallery-box1 img{
		border-radius: 40px 40px 0 0;
	}

	.gallery-box4,
	.gallery-box4 img{
		border-radius: 0 0 0 40px;
	}
	
	.gallery-box5,
	.gallery-box5 img{
		border-radius: 0 0 40px 0;
	}
	
	.gallery-text{
		font-size: .9rem;
		padding: .8em;
		background-color:rgba(9,111,200,.8);
	}
	
	
	

																			/*コンタクト*/
	

	
	.contact{
		margin-top: 40px;
	}

	.contact-box{
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.contact-title{
		font-size: 1.6rem;
	}

	.contact-sub-title{
		font-size: 1.8rem;
		margin-top: 15px;
	}

	.contact-sentence{
		display: none;
	}

	.contact-arrow{
		right: 10%;
		font-size: 1.4rem;
	}

	
																		/*フッター*/
	

	.futter{
		display: block;
		padding-top: 30px;
		padding-bottom: 10px;
	}
	
	.futter-container{
		widows: 88%;
		display: block;
	}

	.futter-logo{
		font-size: 3.2rem;
		letter-spacing: 0;;
	}

	.futter-logo-black{
		color: #333;
	}
	
	.futter-nav{
		flex-direction: column;
		margin-left: 0px;
		margin-top: 10px;
	}

	.futter-nav li{
		display: block;
		margin-top: 25px;
		line-height: 1;
	}
	
	.futter-nav a{
		position: static;
		font-size: 1rem;
	}

	.copy-right{
		margin-top: 30px;
		text-align: center;
		font-size: 1.1rem;
	}
	
}